body {
	margin: 0;
	overflow: hidden;
    cursor: url(http://ani.cursors-4u.net/nature/nat-11/nat1040.ani), url(http://ani.cursors-4u.net/nature/nat-11/nat1035.png), progress !important;

	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	    animation: fadein 2s;
	}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#page5 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#pointer2 {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 200px solid red;
    transform-origin: 100% 50% 0;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid red;
}
                
#triangle-left {
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-right: 200px solid red;
    border-bottom: 200px solid transparent;
}

#triangle-right {
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 200px solid red;
    border-bottom: 200px solid transparent;
}

form {
    padding: 20px;
}
