**/node_modules
bundles/js/*
!bundles/js/main.js
.git
webpack-stats-local.json
webpack-stats-prod.json
**/.git
**/node_modules
**/Lib
**/Include
**/tcl
**/Scripts
**/__pycache__
**/migrations
*.pyc
*.png
*.jpg
*.jpeg
secondmoon/db.sqlite3
secondmoon/manage.py
pip-selfcheck.json
secondmoon/secrets.json
package-lock.json
/bin/**
/include/**
/lib/**
/local/**
/requirements.txt
/share/**
