<!DOCTYPE html>
<html>
	{% load staticfiles %}
	<head>
		<meta charset=utf-8>
		<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline' *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *">
		<title>new china</title>
		<link rel="stylesheet" href={% static "dhtmlwindow/dhtmlwindow.css"%} type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text" rel="stylesheet">
		<link rel="stylesheet" href={% static "css/main.css" %} type="text/css">
	</head>
	<body>
		<div id="app"></div>
		<script type="text/javascript">
			(function(){
				//document.body.style.webkitAnimationPlayState = "paused";
				document.body.opacity = 1;
				loadingDiv = document.createElement( 'div' );
				loadingDiv.id = "loading";
				loadingDiv.style.height = document.documentElement.clientHeight + "px";
				loadingDiv.style.width = document.documentElement.clientWidth + "px";
				loadingDiv.style.background = "#000";
				loadingDiv.style.zIndex = 99999;
				loadingDiv.innerHTML = "<img style='margin-top:"+ document.documentElement.clientHeight/2 + 
					"px; margin-left:40%' src='https://i.imgur.com/fCKBK7g.gif'/> <img style='margin-left:40%' src='https://i.imgur.com/pm8E2Hg.gif'/>";
				document.body.appendChild(loadingDiv);

				setTimeout(function(){
					document.getElementById('loading').remove();
					document.getElementById('helpinfo').style.position = 'absolute';
					//document.body.style.webkitAnimationPlayState = "running";
				},100);
			})();
		</script>		<!--script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script-->
		<script src={% static "js/three.min.js" %}></script>
		<script src={% static "js/tween.min.js" %}></script>
		<script src={% static "js/CSS3DRenderer.js" %}></script>
		<script src={% static "js/TrackballControls.js" %}></script>
		<script src={% static "js/Detector.js" %}></script>
		<script src={% static "js/main.js" %}></script>
		<script src={% static "js/instafeed.min.js" %}></script>
		<script type="text/javascript">
		    var feed = new Instafeed({
		        get: 'user',
		        userId: '7319332388',
		        clientId: 'dc5b439fcb7e4e63afc51d5bf7f6e3e3',
		        limit: '1',
		        accessToken: '7319332388.1677ed0.502bab43ca9f4c89853babd698491324',
		        resolution: 'low_resolution',
				{% verbatim %} 
				template: '<a class="animation" href="{{link}}" target="_blank"><img src="{{image}}" width=100% height=100% /></a>',
				{% endverbatim %}
		    });
		    feed.run();
		</script>
		<script type="text/javascript" src={% static "dhtmlwindow/dhtmlwindow.js" %}>
		/***********************************************
		* DHTML Window Widget- © Dynamic Drive (www.dynamicdrive.com)
		* This notice must stay intact for legal use.
		* Visit http://www.dynamicdrive.com/ for full source code
		***********************************************/
		</script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

		{% block main %}
		{% load render_bundle from webpack_loader %}
		{% render_bundle 'vendors' %}
		{% render_bundle 'App' %}
		{% endblock %}
	</body>
</html>
