body {
	margin: 0;
	overflow: hidden;
    cursor: url(http://ani.cursors-4u.net/nature/nat-11/nat1040.ani), url(http://ani.cursors-4u.net/nature/nat-11/nat1035.png), progress !important;
	font-family: monospace;

	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	    animation: fadein 2s;
}

a {	
    font-family: 'Libre Barcode 39 Extended Text', cursive;
	font-size: 2em;
	color: #000;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#page5 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#pointer2 {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 200px solid white;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid white;
}
                
#triangle-left {
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-right: 200px solid white;
    border-bottom: 200px solid transparent;
}

#triangle-right {
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 200px solid white;
    border-bottom: 200px solid transparent;
}

form {
    padding: 20px;
}

.main-img {
	max-width: 100%;
}

#page0 {
	background: linear-gradient(316deg, rgba(255, 0, 0, .3), rgba(0, 255, 189, .3), rgba(185, 60, 255, .3), rgba(255, 2, 223, .3));
	background-size: 800% 800%;
	height: 100%;
	-webkit-animation: pagezeroani 30s ease infinite;
	-moz-animation: pagezeroani 30s ease infinite;
	animation: pagezeroani 30s ease infinite;
}

@-webkit-keyframes pagezeroani {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes pagezeroani {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes pagezeroani {
	0%{background-position:0% 50%}
 	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.drag-contentarea {
	height: auto !important;
	width: auto !important;
/*	min-width: 400px;*/
	max-width: 1000px;
	background-color: #000;
	color: aqua;
	padding: 20px;
}


#ajaxbox {
	width: auto !important;
}

.release-text {
	background: black;
	margin: 10px 0 10px 0;
	padding: 10px;
	box-shadow: pink 10px 10px 7px;
	font-family: monospace;
	color: pink;
	max-height: 500px;
}
